{% extends 'pharmacyapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
  h4 {
    color: #01b9dd;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 2rem;
  }

  .container {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
  }

  form {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-top: 75px;
    border: 5px solid #5093ab; 
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 25px;
  }

  input[type="text"],
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #5093ab; 
    border-radius: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  label {
    font-size: 16px;
    font-weight: bold;
  }

  button[type="submit"] {
    margin-top: 17px;
    background-color: #01B9DD;
    color: white;
    border: none;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    transition: background-color 0.8s, color 0.7s;
  }

  button[type="submit"]:hover {
    background-color: #5093ab;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }

    form {
      margin-top: 20px;
    }
  }

  @media (max-width: 480px) {
    .container {
      width: 95%;
    }

    button[type="submit"] {
      width: 100%;
    }
  }
</style>

<h4>ADD TO STOCK</h4>
<hr />
<div class="container">
  <form method="POST" action="">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn" style="color: white">Add</button>
  </form>
</div>
<br /><br />
{% endblock %}
