{% extends 'pharmacyapp/base.html'%} 
{% block content%}
<br>

<style>
  h4{ color:#0C356A;
    text-shadow: 2px 2px 4px #000000;
margin-left: 466px;
font-family: sans-serif;
margin-top:58px;}
body{background-color:  rgb(13, 192, 192);}

button {
  background-color: #0c356a;
}
.btn-primary {
  background-color: #094f9f;
}
.btn {
    background-color: #0c356a;
    color: white;
    transition: background-color 0.7s;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #094f9f; /* Change to a darker shade for hover */
}

.table-container{
  box-shadow: 1px 0px 20px -1px rgba(0,0,0,0.65);
  overflow-x: auto;
  max-width: 100%;
  border-radius: 15px;
  background-color: white;
  border-radius: 15px;
  font-family:sans-serif;


}
</style>

  
    <h4 >TOTAL SALES MADE</h4><hr>
<div class="container">
<div class="table-container">
  <table class="table" style="margin-top:40px;">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Total Amount Expected</th>
        <th scope="col">Total Amount Received</th>
        <th scope="col">Total Debts Issued</th>
        <th scope="col">Net Amount</th>
      </tr>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr>
        <td>UGX{{total_expected}}</td>
        <td>UGX{{total}}</td>
        <td>UGX{{change}}</td>
        <td>UGX{{net}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
<br>
<div class="container">
  <div class="table-container">
  <table class=" table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Customer's Name</th>
        <th scope="col">Item Bought</th>
        <th scope="col">Date_of_sale</th>
        <th scope="col" >Quantity Bought</th>
        <th scope="col">Selling Price(UGX)</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Customer's Debtor</th>
        <th scope="col">Clearance_debt</th>
      </tr>
    </thead>
    {% for sale in sales %}
    <tbody>
      <tr>

        
        <td style="font-weight:bolder; color: #0c356a;">{{sale.payee | title}}</td>
        <td>{{ sale.name_of_the_item.name | title }}</td>
        <td>{{ sale.date_of_sale }}</td>
        <td>{{ sale.quantity_sold }}</td>
        <td>UGX{{ sale.Selling_price }}</td>
        <td>UGX{{ sale.total_price }}</td>
        <td>UGX{{ sale.amount_received }}</td>
        <td>UGX{{ sale.change }}</td>
        <td>UGX{{ sale.clearing_debt }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</div>

<a href="{% url 'item'  %}"  class="hover-button "><input type= "submit" value="Go back" class="btn btn-primary mt-2" type="button"/></a>
</div>
</div>

{% endblock%}


