
{% extends 'pharmacyapp/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
       max-width: 50%;
        margin: auto;
        border-radius: 5px;

    margin-bottom: 30px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    background-color:white;
    border: 5px solid rgba(0, 128, 255, 0.2);
     box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
     transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 24px;
    
        
       
    }

    h4 {
        text-align: center;
        font-family: sans-serif;
        color: #0C356A;
        text-shadow: 2px 2px 4px #000000;
        margin-top:85px;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        padding: 10px; /* Added padding */
        border-radius: 5px; /* Added border radius */
        width: 100%; /* Make input fields fill the available space */
        max-width: 100%; /* Ensure input fields don't overflow their container */
    }

    .container select[name="category"] {
        border: 2px solid rgba(0, 128, 255, 0.2);
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s; 
    }
  
    
    body{background-color:  rgb(13, 192, 192);}
    
    

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom:5px ;
    }

    button[type="submit"] {
        margin-top: 33px;
        background-color:#0c356a ;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        max-width: 100%;
        height: 40px;
        padding: 10px;
        transition: background-color 0.8s, color 0.7s; /* Adding transition effect */
    }
    
    button[type="submit"]:hover {
        /* Changing background color on hover */
      background-color: #094f9f; /* Changing text color on hover */
    }
    
        
    
</style>  

<h4 >CLEARANCE FORM</h4><hr>
<div class="container">
    <form method="POST" class="sitter-form">

        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>

{% endblock %}