{% extends 'pharmacyapp/base.html' %}
{% load static %}

{% block content %}
<style>
        .content{
          margin-top:2rem;
        }
          .babies{
              display: grid;
              margin: auto;
              flex-direction: row;
              padding: 1rem;
              border-radius: 15px;
              background-color: white;
              box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
            }
            
            .babies h2{color: #BEBFC5 ;
              font-weight: 700;
              font-size: 30px;
              text-transform: uppercase;
              margin-top: 1rem;
            }
      
            .frame th {
              background-color:#5093AB;
              color:white;
          }
          .table-container {
              box-shadow: 1px 0px 20px -1px rgba(0,0,0,0.65);
              overflow-x: auto;
              max-width: 100%;
              border-radius: i5px;
              background-color: white;
              border-radius: 15px;
              font-family:sans-serif;
             
          
            
            }
            body {
              margin: 0;
              padding: 0;
              background-color: #BEBFC5;
          } 
          
          
       </style>
      
</head>
<body>
   
     <div class="container content">
        <div class="row">
        <div class="babies col-md-2 d-md-block ">
            <h2 class="text-center baby" > {{total_expenses}}</h2> <hr>
            <h5 class= "text-center" style="color:  #5093ab;" >
              <strong> Expenses</strong>
            </h5>
        </div>
    
        <div class="babies col-md-2 d-md-block ">
            <h2 class="text-center baby">{{total_amountpaid}}</h2> <hr>
            <h5 class= "text-center" style="color:  #5093ab;">
              <strong>Sales  </strong>
            </h5>
        </div>
    
        <div class="babies col-md-2 d-md-block ">
          <h2 class="text-center baby">{{ total_profits}}</h2> <hr>
          <h5 class= "text-center" style="color:  #5093ab;">
            <strong> profits made</strong>
          </h5>
      </div>
          <div class="babies col-md-2 d-md-block ">
            <h2 class="text-center baby">{{ total_debt}}</h2> <hr>
            <h5 class= "text-center" style="color:  #5093ab;">
              <strong>Debted Issued </strong>
            </h5>
        </div>
        </div>  
        <hr>

    </div>
      <div class="container content">
      <div class="table-container">
        <caption class="caption-top text-center"><h4 style="margin-left:430px; color:#BEBFC5; font-family:sans-serif; font-weight:bolder;  text-shadow: 2px 2px 4px #000000;">Recent Customers </h4></caption>
      <table  id="dataTable" class="table table-stripped table-hover">
       
          <thead  class="frame text-center" >
              <tr>
                 <th scope="col" class="project-h1">Name of the Customer</th>
                  <th scope="col" class="project-h1">Item Bought</th>
                  <th scope="col" class="project-h1">Quantity Bought</th>
                  <th scope="col" class="project-h1">Amount Paid </th>
                  
              </tr>
          </thead>
          {% for customer in recent_customers %}
          <tbody>
              <tr style="font-family: sans-serif; text-align:center; font-weight:bolder; color:  #5093ab;">
                <td>{{customer.payee}}</td>
                <td>{{customer.name_of_the_item | title}}</td>
                  <td>{{customer.quantity_sold}}</td>
                  <td>{{customer.amount_received}}</td>
                
        
              </tr>
    
                
          </tbody>
          {% endfor %}
      </table>
      </div>
    </div>
    </div>
    {% endblock %}








