{% extends 'pharmacyapp/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .sitter-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 50%;
        margin: auto;
        border-radius: 10px;
        padding: 15px;
        background-color: white;
        border: 3px solid #387F39;  
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        margin-top: 24px;
    }

    h4 {
        color: #387F39; 
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        margin-top: 2rem;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        border: 3px solid #399918;
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s, box-shadow 0.3s;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
    }

    label {
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 5px;
    }

    button[type="submit"] {
        margin-top: 33px;
        background-color: #399918;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        max-width: 200px;
        height: 40px;
        padding: 10px;
        transition: background-color 0.8s, color 0.7s;
    }

    button[type="submit"]:hover {
        background-color: #00cc00;
    }
    select[name="Category_item"]
    {
        border: 2px solid #399918;
    }

    /* Responsive Styles */
    @media (max-width: 992px) {
        .sitter-form {
            max-width: 70%;
        }
    }

    @media (max-width: 768px) {
        .sitter-form {
            grid-template-columns: 1fr;
            max-width: 90%;
        }

        button[type="submit"] {
            max-width: 100%;
        }
    }

    @media (max-width: 480px) {
        .sitter-form {
            padding: 10px;
        }

        button[type="submit"] {
            font-size: 14px;
            height: 35px;
            padding: 8px;
        }
    }
</style>

<h4>ADD NEW STOCK</h4>
<hr>
<div class="container">
    <form method="POST" class="sitter-form">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
