{% extends 'pharmacyapp/base.html' %}
{% load static %}
{% block content%}

<style>
  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    padding-top: 15px;
  }

  h1, h2, h2 span {
    color: #01B9DD;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
    font-size: 1.5em;
  }

  .card-body {
    padding: 15px 30px;
  }

  .card-body ul {
    padding-left: 20px;
  }

  .card-body ul li {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: rgb(53, 1, 63);
  }

  .card-body p {
    font-size: 1.2em;
    color: rgb(53, 1, 63);
    padding-bottom: 15px;
  }

  @media (max-width: 992px) {
    .card-header, .card-body {
      padding: 15px 20px;
    }

    .card-body ul li, .card-body p {
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .card-header, .card-body {
      padding: 10px 15px;
    }

    .card-body ul li, .card-body p {
      font-size: 0.9em;
    }
  }

  @media (max-width: 576px) {
    .card-header, .card-body {
      padding: 10px;
    }

    .card-body ul li, .card-body p {
      font-size: 0.8em;
    }
  }
</style>

<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Pharmacy services</h1>
      </div>
      <div class="card-body">
        <p>The ageing of the population, technological advances, new public health threats, evolving patients' expectations and shrinking budget are putting pressure on health care systems in Europe and beyond. An increasing portion of health care expenditure is on pharmaceuticals and chronic diseases. All these factors are pushing for change. And community pharmacy is changing too to respond to these challenges and meet patients’ needs by shifting the focus from dispensing medicines and diseases to patient care and quality of services. Pharmacy services aim to achieve the ‘triple aim’:</p>
        <ul>
          <li>Better quality of care</li>
          <li>Better health outcome</li>
          <li>Lower costs</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h2>Core <a href="/"><span >pharmacy</span></a> services are:</h2>
      </div>

      <div class="card-body">
        <ul>
          <li>Consultations</li>
          <li>Minor surgery </li>
          <li>Outpatient & inpatient  care</li>
          <li>Laboratory </li>
          <li>Family planning</li>
          <li>Counseling & guidance</li>
        </ul>
      </div>
    </div>
  </div>
</body>

{% endblock %}
